@import '../src/components/theme-toggle.css';

:root::before,
:host::before {
    --_lumo-theme-toggle-inject: 1;
    --_lumo-theme-toggle-inject-modules:
            lumo_components_button,
            lumo_components_theme-toggle;
}