<p><code>CodeEditor</code> - компонент для отображения и ввода исходного кода.</p>
<p>
    Он представляет собой многострочное текстовое поле с возможностью подсветки кода и отображения полей печати и номеров
    строк.
</p>
<p>
    Свойство <b>UseSoftTabs</b> устанавливает режим представления символа табуляции. Режим мягких вкладок означает, что символ табуляции будет представлен в виде ряда пробелов.
    Режим жесткой табуляции означает, что символ табуляции будет представлен как специальный символ <code>\t</code>.<br/>
    Свойство <b>TextWrap</b> автоматически переносит текст на следующую строку. Таким образом, в поле ввода не появятся горизонтальные полосы прокрутки.
</p>