<p><code>CodeEditor</code> is a component to display and enter source code.</p>
<p>
    It is multi-line text area featured with code highlighting and optional print margin and gutter with line
    numbers.
</p>
<p>
    <b>UseSoftTabs</b> property sets the tab character representing mode. Soft tabs mode means that tab character will be represented as a series of spaces.
    Hard tabs mode means that tab character will be represented as the special <code>\t</code> character.<br/>
    <b>TextWrap</b> property wraps text to the next line automatically. This way, horizontal scroll bars will not appear in the input field.
</p>