<p>
    Для создания компонента <b>Fragment</b>, необходимо создать класс, который будет расширять <code>io.jmix.flowui.fragment.Fragment</code>.
    Обратите внимание, что <b>Fragment</b> типизирован компонентом, который будет использован в качестве корневого в вашем компоненте.
    Также, именно этот компонент должен быть указан в качестве контента в <b>разметке XML</b>. В данном примере - это компонент <code>JmixDetails</code>.<br/>
    Для привсзки XML-файла к компоненту фрагмента используется аннотация <code>@FragmentDescriptor</code> (см. <code>FragmentSimpleSample.java</code>).
</p>
<p>
    Для определения компонента <b>Fragment</b> в экране используется тэг <code>fragment</code>.
    Вам необходимо указать полное имя класса для вашего фрагмента (см. <code>fragment-simple.xml</code>).
</p>
<p>
    Также, как и для экранов, фрагменты имеют возможность декларативной установки подписок и установок для компонентов.<br/>
    Для этого Вы можете использовать аннотации <code>@Subscribe</code>, <code>@Install</code> и <code>@Supply</code>.
</p>
<p>
    Обратите внимание, что для компонентов внутри фрагментов не назначаются действительные ID.
    Для них устанавливаются скрытые ID. Для работы с ними используется <code>FragmentUtils</code>.
    Это сделано для того, чтобы избежать конфликт ID компонентов в хост-экране и фрагменте.
</p>