<p>
    Фрагмент может подписаться на некоторые события своего жизненного цикла, а также жизненного цикла своего
    хост-экрана.<br/>
    Следующие события доступны для подписки:
</p>
<ul>
    <li><code>Fragment.ReadyEvent</code></li>
    <li><code>View.InitEvent</code> (host)</li>
    <li><code>View.BeforeShowEvent</code> (host)</li>
    <li><code>View.ReadyEvent</code> (host)</li>
</ul>
<p>
    <code>Fragment.ReadyEvent</code> - событие, которое публикуется после того, как фрагмент и все его декларативно
    определенные внутренние компоненты созданы, полностью инициализированы и внедрение зависимостей заверешено. Подписки
    на события организованы таким образом, что сначала запускаются слушатели, определенные в хост-экране, а потом во
    фрагменте.
</p>
<p>
    Обратите внимание, что при программном создании фрагмента слушатель события <code>View.InitEvent</code> для
    хост-экрана не был запущен. Это произошло потому, что в этот момент фрагмент был создан, а событие <code>View.InitEvent</code>
    уже произошло.
</p>