<p>Атрибут <code>aggregatable</code> включает агрегацию для строк <b>DataGrid</b>. Поддерживаются следующие операторы:</p>

<ul>
    <li>
        <code>SUM</code> - Вычисляет сумму
    </li>
    <li>
        <code>AVG</code> - Находит среднее значение
    </li>
    <li>
        <code>COUNT</code> - Вычисляет количество записей
    </li>
    <li>
        <code>MIN</code> - Находит минимальное значение
    </li>
    <li>
        <code>MAX</code> - Находит максимальное значение
    </li>
</ul>

<p>Элемент <code>aggregation</code> должен быть установлен для агрегированных столбцов <b>DataGrid</b> с атрибутом <code>type</code>, который задает
    агрегирующую функцию. Агрегированные значения таблицы отображаются в дополнительной строке снизу <b>DataGrid</b>.
</p>
<p>Атрибут <code>aggregationPosition</code> позволяет указать расположение строки агрегации:<code>TOP</code> или <code>BOTTOM</code>. <code>BOTTOM</code> используется по умолчанию.</p>
<p>В дополнение к операциям, перечисленным выше, вы можете определить собственную стратегию агрегации, используя <code>AggregationStrategy</code>.</p>