<p><code>DataGrid</code> is designed to display and sort tabular data, and provides means to manipulate rows.</p>
<p>In this example, you can play with the following <code>DataGrid</code> settings:</p>

<ul>
    <li>
        <code>sortable</code> - enables or disables the <code>column</code> sorting. The default value is
        <code>true</code>.
        When the sorting is enabled, the click on the column name will display the sorting icon to the right of the
        column header. Sorting of any specific column can be disabled by this column's <code>sortable</code> attribute.
    </li>
    <li>
        <code>resizable</code> - enables or disables the <code>column</code> resizing. The default value is
        <code>false</code>.
    </li>
    <li>
        <code>columnReorderingAllowed</code> - defines whether a user can change the columns order by dragging them with
        a mouse. The default value is <code>false</code>.
    </li>
</ul>