<p><code>DataGrid</code> предназначен для отображения и сортировки табличных данных и предоставляет средства для
    управления строками.</p>
<p>В этом примере вы можете попробовать следующие настройки для <code>DataGrid</code>:</p>

<ul>
    <li>
        <code>sortable</code> - включает или отключает сортировку для <code>column</code>. Значени по умолчанию <code>true</code>.
        Если сортировка разрешена, то при нажатии на название колонки справа от названия появляется соответствующая
        иконка.
        Сортировку отдельно взятой колонки можно запретить с помощью атрибута <code>sortable</code> этой колонки.
    </li>
    <li>
        <code>resizable</code> - включает или отключает изменение размера для <code>column</code>. Значение по умолчанию
        <code>false</code>.
    </li>
    <li>
        <code>columnReorderingAllowed</code> - разрешает или запрещает пользователю менять местами колонки, перетаскивая
        их с помощью мыши. По умолчанию имеет значение <code>true</code>.
    </li>
</ul>