<p>Атрибут <code>filterable</code> для вложенного элемента <code>columns</code> в <b>DataGrid</b> позволяет настраивать фильтры в заголовках колонок.</p>
<p>Колонка с фильтром имеет специальную кнопку, по нажатию на которую открывается всплывающее окно с компонентом <code>propertyFilter</code> для этой колонки.</p>
<p><code>&lt;columns filterable="true"&gt;</code> добавляет фильтры для всех колонок. По умолчанию все фильтры скрыты.</p>
<p>Также можно указать атрибут <code>filterable</code> непосредственно для колонки. Значение в колонке имеет максимальный приоритет.</p>