<p>The <code>filterable</code> attribute for the <code>columns</code> nested element in the <b>DataGrid</b> allows you to configure filters in the column headers.</p>
<p>The column with the filter has the button witch opens an overlay with the <code>propertyFilter</code> component for this column.</p>
<p>Attribute <code>&lt;columns filterable="true"&gt;</code> adds filters for all columns. By default, all filters are hidden.</p>
<p>You can also specify the <code>filterable</code> attribute directly for column. The value in the column has priority.</p>