/* Define your styles here */

.jmix-search-field {
    margin: var(--lumo-space-s);
}

.jmix-menu-tools {
    margin: var(--lumo-space-wide-m);
}

.jmix-menu-tools-button {
    margin-inline-start: auto;
}

.jmix-main-view-title {
    display: flex;
    align-items: center;
    margin: 0;
    height: calc(var(--lumo-size-xl) / 2);
    font-size: var(--lumo-font-size-xl);
    cursor: var(--lumo-clickable-cursor);
}

.jmix-main-view-title:hover {
    cursor: pointer;
}

.jmix-main-view-title-holder {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: var(--lumo-space-s);
    margin: calc(var(--lumo-space-m) * 14 / 16) 0;
    margin-inline-start: var(--lumo-space-m);
}

.jmix-main-view-header .theme-toggle {
    margin-inline-start: auto;
    margin-inline-end: var(--lumo-space-s);
}

.jmix-main-view-header-link {
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
}

.jmix-main-view-header-link:hover {
    text-decoration: none;
    cursor: pointer;
}

vaadin-app-layout::part(drawer) {
    width: 22em;
}

.about-panels-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.about-panel {
    width: 20em;
}

.about-panel ul {
    padding: 0;
    list-style-type: none;
}

.overview-tag-grey {
    background-color: #F4F8FE;
}

.overview-tag-blue {
    background-color: #E9FEFE;
}

.overview-tag-green {
    background-color: #EFFEEF;
}

.overview-tag-purple {
    background-color: #FBF4FE;
}

.overview-tag-red {
    background-color: #FEF4F6;
}

.overview-tag-yellow {
    background-color: #FDFBE8;
}

.overview-tag-orange {
    color: var(--lumo-header-text-color);
    background-color: #FEF9ED;
}
