/* Define your styles here */

.jmix-search-field {
    margin: var(--lumo-space-s);
}

.jmix-menu-tools {
    margin: var(--lumo-space-wide-m);
}

.jmix-menu-tools-button {
    margin-inline-start: auto;
}

.jmix-main-view-title {
    display: flex;
    align-items: center;
    margin: 0;
    height: calc(var(--lumo-size-xl) / 2);
    font-size: var(--lumo-font-size-xl);
    cursor: var(--lumo-clickable-cursor);
}

.jmix-main-view-title-holder {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--lumo-space-s);
    margin: calc(var(--lumo-space-m) * 14 / 16) 0;
    margin-inline-start: var(--lumo-space-m);
}

.jmix-main-view-header .theme-toggle {
    margin-inline-start: auto;
    margin-inline-end: var(--lumo-space-s);
}

vaadin-app-layout::part(drawer) {
    width: 22em;
}
