<p>
    Фрагменты, так же, как и экраны, могут работать с данными. <br/> Для этого используется тэг
    <code>&lt;data/&gt;</code> в дескрипторе фрагмента.<br/>
    Фрагмент может иметь свои собственные контейнеры и загрузчики, определенные в XML-элементе <code>&lt;data/&gt;</code>.
    При этом фреймворк создаст единственный экземпляр <code>DataContext</code> для экранов и всех его фрагментов.
</p>
<p>
    Таким образом, все загруженные объекты объединяются в один и тот же контекст, а их изменени сохраняются при сохранении хост-экрана.
    Компоненты данных, определенные с помощью атрибута <code>provided="true" </code> ожидают, что контейнер с таким же ID будет существовать в хост-экране или фрагменте.
    Таким образом такой контейнер должен быть проставлен из вне.
</p>
<p>
    В данном примере <b>InstanceContainer</b> определен в хост-экране. Во фрагменте
    <b>InstanceContainer</b> был создан с тем же ID, и атрибутом <code>provided="true"</code>.
    Таким образом, во фрагменте будет использоваться контейнер хост-экрана.
</p>