
.dashboard-widget-content {
    height: 100%;
    --stripe-color: var(--vaadin-background-container-strong);
    background: repeating-linear-gradient(45deg, var(--stripe-color), var(--stripe-color) 10px, transparent 10px, transparent 20px) var(--stripe-color);
}