<div>
    <p>This section demonstrates the usage of visual components designed to display and input data and interact with the user.</p>

    <div class="about-panels-container">
        <div class="about-panel">
            <h4>Interaction</h4>
            <ul>
                <li><a href="/ui-samples/sample/button-simple">button</a></li>
                <li><a href="/ui-samples/sample/dropdown-button-simple">dropdownButton</a></li>
                <li><a href="/ui-samples/sample/checkbox-simple">checkbox</a></li>
                <li><a href="/ui-samples/sample/checkbox-group-simple">checkboxGroup</a></li>
                <li><a href="/ui-samples/sample/radio-button-group-simple">radioButtonGroup</a></li>
                <li><a href="/ui-samples/sample/tabs-simple">tabs</a></li>
            </ul>
        </div>

        <div class="about-panel">
            <h4>Visualization</h4>
            <ul>
                <li><a href="/ui-samples/sample/avatar">avatar</a></li>
                <li><a href="/ui-samples/sample/badge-simple">badge</a></li>
                <li><a href="/ui-samples/sample/context-help-simple">helperText</a></li>
                <li><a href="/ui-samples/sample/context-help-tooltip">tooltip</a></li>
                <li><a href="/ui-samples/sample/html-component">html</a></li>
                <li><a href="/ui-samples/sample/icon-all">icon</a></li>
                <li><a href="/ui-samples/sample/image-simple">image</a></li>
                <li><a href="/ui-samples/sample/progress-bar-simple">progressBar</a></li>
            </ul>
        </div>

        <div class="about-panel">
            <h4>Input fields</h4>
            <ul>
                <li><a href="/ui-samples/sample/text-field-simple">textField</a></li>
                <li><a href="/ui-samples/sample/number-field-simple">numberField</a>, <a href="/ui-samples/sample/big-decimal-field-simple">bigDecimalField</a>, <a href="/ui-samples/sample/integer-field-simple">integerField</a></li>
                <li><a href="/ui-samples/sample/email-field-simple">emailField</a></li>
                <li><a href="/ui-samples/sample/password-field-simple">passwordField</a></li>
                <li><a href="/ui-samples/sample/text-area-simple">textArea</a></li>
                <li><a href="/ui-samples/sample/code-editor-simple">codeEditor</a></li>
                <li><a href="/ui-samples/sample/file-storage-upload-field">fileStorageUploadField</a></li>
                <li><a href="/ui-samples/sample/file-upload-field">fileUploadField</a></li>
                <li><a href="/ui-samples/sample/upload">upload</a></li>
            </ul>
        </div>

        <div class="about-panel">
            <h4>Combo-boxes</h4>
            <ul>
                <li><a href="/ui-samples/sample/entity-combobox">entityComboBox</a></li>
                <li><a href="/ui-samples/sample/combobox-simple">comboBox</a></li>
                <li><a href="/ui-samples/sample/multi-select-combo-box-simple">multiSelectComboBox</a></li>
                <li><a href="/ui-samples/sample/select-simple">select</a></li>
            </ul>
        </div>

        <div class="about-panel">
            <h4>Picker fields</h4>
            <ul>
                <li><a href="/ui-samples/sample/entity-picker-simple">entityPicker</a></li>
                <li><a href="/ui-samples/sample/date-picker-simple">datePicker</a>, <a
                        href="/ui-samples/sample/time-picker-simple">timePicker</a>, <a
                        href="/ui-samples/sample/date-time-picker-simple">dateTimePicker</a></li>
                <li><a href="/ui-samples/sample/value-picker-simple">valuePicker</a></li>
            </ul>
        </div>

        <div class="about-panel">
            <h4>Lists and tables</h4>
            <ul>
                <li><a href="/ui-samples/sample/data-grid-simple">dataGrid</a></li>
                <li><a href="/ui-samples/sample/list-box-simple">listBox</a></li>
                <li><a href="/ui-samples/sample/virtual-list-simple">virtualList</a></li>
            </ul>
        </div>

        <div class="about-panel">
            <h4>Filtering and paging</h4>
            <ul>
                <li><a href="/ui-samples/sample/generic-filter-multiple-conditions">genericFilter</a></li>
                <li><a href="/ui-samples/sample/property-filter-simple">propertyFilter</a></li>
                <li><a href="/ui-samples/sample/simple-pagination-simple">simplePagination</a></li>
            </ul>
        </div>

    </div>
</div>
