<p>
    Компонент <code>fileStorageUploadField</code> загружает файлы в систему хранения файлов.
    Он позволяет пользователям загружать файл и автоматически связывает его с атрибутом сущности как объект <code>FileRef</code>.
    Эта функциональность позволяет пользователям управлять хранением файлов и доступом к ним в приложении, причем <code>FileRef</code> служит ссылкой на расположение файла в системе хранения.
</p>
<p>
    В этой реализации компонента <code>fileStorageUploadField</code> предусмотрена "зона перетаскивания", позволяющая загружать файлы с помощью действия перетаскивания в указанную область.
</p>
