<p><code>DropdownButton</code> is a button with drop-down list of items.</p>
<p>The DropdownButton can contain text or icon.</p>
<p>The component has several items variants:</p>
<ul>
    <li>
        <code>textItem</code> - contains text. <code>ClickListener</code> can be added from a controller.
    </li>
    <li>
        <code>componentItem</code> - contains a custom component. <code>ClickListener</code> can also be added from a controller.
    </li>
    <li>
        <code>actionItem</code> - can be associated with an action using the <code>ref</code> attribute.
    </li>
    <li>
        <code>separator</code> - just for separating items.
    </li>
</ul>