/* Define your styles here */

html[theme~='dark'] {
    --lumo-paid-color: hsl(258, 100%, 78%, 0.13);
    --lumo-paid-text-color: hsl(264, 69%, 72%);
}

html {
    --lumo-paid-color: hsl(258, 90%, 73%, 0.13);
    --lumo-paid-text-color: hsl(264, 79%, 38%);
}

.jmix-search-field {
    margin: var(--lumo-space-wide-s);
}

.jmix-menu-tools {
    margin: var(--lumo-space-wide-m);
    align-items: center;
}

.jmix-menu-tools-button {
    margin-inline-start: auto;
    margin-inline-end: var(--lumo-space-xs);
}

.jmix-main-view-title {
    display: flex;
    align-items: center;
    margin: 0;
    height: calc(var(--lumo-size-xl) / 2);
    font-size: var(--lumo-font-size-xl);
    cursor: var(--lumo-clickable-cursor);
}

.jmix-main-view-title:hover {
    cursor: pointer;
}

.jmix-main-view-title-holder {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: var(--lumo-space-s);
    margin: calc(var(--lumo-space-m) * 14 / 16) 0;
    margin-inline-start: var(--lumo-space-m);
}

.jmix-main-view-header .theme-toggle {
    margin-inline-start: auto;
    margin-inline-end: var(--lumo-space-s);
}

.jmix-main-view-header-link {
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
}

.jmix-main-view-header-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.permalink-button {
    margin-inline-start: auto;
    margin-inline-end: var(--lumo-space-s);
}

vaadin-app-layout::part(drawer) {
    width: 22em;
}

[theme~='badge'][theme~='paid'] {
    color: var(--lumo-paid-text-color);
    background-color: var(--lumo-paid-color);
}

/* workaround for https://github.com/vaadin/web-components/issues/10627 */
vaadin-split-layout > [slot] {
    overflow: auto;
}
