<p>The context menu in the <code>DataGrid</code> component is accessible by default by right-clicking. By default, the
    context menu duplicates actions associated with the component. To disable automatic generation of
    context menu elements, you can use the <code>showInContextMenuEnabled</code> attribute in the
    <code>actions</code> element.</p>
<p>You can define your own context menu elements using the <code>contextMenu</code> element in the XML
    markup.</p>
<p>To add an icon for a context menu element, you must use the <code>icon</code> attribute. To automatically assign
    icons of related actions to context menu elements, you can use the application property:
    <code>jmix.ui.component.grid-context-menu-show-action-icons</code>.
</p>
<p>It is also possible to customize the display of a context menu element using <code>dynamicContentHandler</code>.</p>