<p>Контекстное меню в компоненте <code>DataGrid</code> доступно по умолчанию на правый щелчок мыши. По стандарту, в
    контекстное меню дублируются действия, связанные с компонентом. Чтобы выключить автоматическую генерацию элементов
    контекстного меню можно воспользоваться атрибутом <code>showInContextMenuEnabled</code> в элементе
    <code>actions</code>.</p>
<p>Вы можете определять собственные элементы контекстного меню с помощью элемента <code>contextMenu</code> в XML
    разметке.</p>
<p>Чтобы добавить иконку для элемента контекстного меню необходимо воспользоваться атрибутом <code>icon</code>. Чтобы
    элементам контекстного меню автоматически проставлялись иконки связанных действий можно воспользоваться свойством
    приложения: <code>jmix.ui.component.grid-context-menu-show-action-icons</code>.</p>
<p>Также, возможно определять отображение элемента контекстного меню с помощью <code>dynamicContentHandler</code>.</p>