<p>Компонент <code>virtualList</code> поддерживает фрагменты в качестве рендереров.</p>
<p>Для этого вам необходимо добавить вложенный элемент <code>&lt;fragmentRenderer/&gt;</code>. Используя атрибут <code>class</code>,
    вы должны указать <b>класс фрагмента</b> который расширяет специальный абстрактный класс <code>io.jmix.flowui.fragmentrenderer.FragmentRenderer</code>.
</p>
<p>Рендерер фрагменты очень похож на обычный фрагмент. Разница в том, что <b>fragmentRenderer</b> должен содержать
    контейнер, в который будет установлен элемент для рендеринга. Чтобы указать, в какой контейнер следует поместить
    элемент, используйте аннотацию <code>@RendererItemContainer</code>.</p>
<p>Ниже представлен список поддерживаемых компонентов:</p>
<ul>
    <li><code>VirtualList</code></li>
    <li><code>DataGrid.Column</code></li>
    <li><code>CheckboxGroup</code></li>
    <li><code>MultiSelectComboBox</code></li>
    <li><code>MultiSelectComboBoxPicker</code></li>
    <li><code>EntityComboBox</code></li>
    <li><code>RadioButtonGroup</code></li>
    <li><code>Select</code></li>
    <li><code>ListBox</code></li>
    <li><code>MultiSelectListBox</code></li>
</ul>