<p>
    Компонент <code>fileUploadField</code> предоставляет возможность загрузки файлов.
    Он позволяет пользователям выбирать и загружать файлы, автоматически сохраняя содержимое файла в виде массива байтов в указанный атрибут сущности.
    Эта функция полезна для обработки файловых данных в модели данных приложения.
</p>
<p>
    В этом примере можно загружать изображения (PNG, JPEG) размером до 50 КБ. Имя загруженного файла отображается рядом с кнопкой загрузки и также служит ссылкой для быстрого доступа. Компонент включает в себя "зону перетаскивания" для загрузки файлов путем перетаскивания их на кнопку компонента.
</p>
