<p>
    The <code>fileUploadField</code> component provides a way to upload files.
    It enables users to select and upload a file, automatically saving the file content as a byte array to a specified entity attribute.
</p>
<p>
    This example allows uploading of image files (PNG, JPEG) with a maximum size of 50 KB. The name of the uploaded file appears next to the upload button and also functions as a download link for quick access. The component features a "drop zone" for drag-and-drop uploads by dragging files over the component's button.
</p>
<p>
    For uploading and saving large files it is recommended to use the <a href="/ui-samples/sample/file-storage-upload-field">FileStorageUploadField</a>.
</p>