/* Define your styles here */

.jmix-search-field {
    margin: var(--lumo-space-s);
}

.jmix-menu-tools {
    margin: var(--lumo-space-wide-m);
}

.jmix-menu-tools-button {
    margin-inline-start: auto;
}

.jmix-main-view-title {
    display: flex;
    align-items: center;
    min-height: var(--lumo-size-xl);
    margin: 0;
    font-size: var(--lumo-font-size-xl);
    cursor: var(--lumo-clickable-cursor);
}

.jmix-main-view-title-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--lumo-space-s);
    padding: 0 var(--lumo-space-m);
}

.jmix-main-view-header .theme-toggle {
    margin-inline-start: auto;
    margin-inline-end: var(--lumo-space-s);
}

vaadin-app-layout::part(drawer) {
    width: 22em;
}
