<p><code>VirtualList</code> allows you to render a long list of items inside a scrollable container without sacrificing
    performance.</p>
<p>Each item is rendered on the fly as the user scrolls the list.</p>

<p>A custom renderer for list items can be set in view controller using Java code only. It's possible to specify a renderer using <code>ValueProvider</code> if we want to show some plain text.</p>
<p>You can use the <code>setRenderer()</code> method or <code>@Supply</code> annotation for it.</p>