<p><code>VirtualList</code> позволяет отображать длинный список элементов внутри прокручиваемого контейнера без ущерба для
    производительность.</p>
<p>Каждый элемент отображается в процессе прокручивания списка.</p>

<p>Пользовательский <code>renderer</code> для элементов списка можно установить в контроллере экрана, используя Java код. Также, можно указать средство визуализации с помощью <code>ValueProvider</code>, если мы хотим отображать простой текст.</p>
<p>Для всего этого вы можете использовать метод <code>setRenderer()</code> или аннотацию <code>@Supply</code>.</p>