<div>

    <p>The <b>Jmix UI Samples</b> application contains a large collection of examples demonstrating Jmix UI in action. Each example includes source code, description and links to the documentation.</p>

    <p><a href="/ui-samples/sample/components">Components</a> section demonstrates the usage of visual components designed to display and input data and interact with the user.</p>

    <p><a href="/ui-samples/sample/layouts">Layouts</a> section shows examples of arranging components on a view.</p>

    <p><a href="/ui-samples/sample/dialogs-and-notifications">Dialogs and notifications</a> section contains examples of various standard dialogs and notifications.</p>

    <p><a href="/ui-samples/sample/custom-component">Custom components</a> section demonstrates different techniques of creating custom
    UI components.</p>

    <p><a href="/ui-samples/sample/cookbook">Cookbook</a> contains a collection of recipes for solving typical problems related to UI.</p>

    <p><b>Useful resources:</b></p>

    <ul>
        <li>Jmix <a href="https://jmix.io" target="_blank">website</a></li>
        <li>Jmix <a href="https://docs.jmix.io" target="_blank">documentation</a></li>
        <li>Jmix community <a href="https://forum.jmix.io" target="_blank">forum</a></li>
        <li>The application <a href="https://github.com/jmix-framework/jmix-ui-samples-2" target="_blank">source code repository</a></li>
    </ul>

</div>