<p><code>multiSelectComboBox</code> позволяет пользователям выбирать один или несколько элементов из выпадающего списка.</p>
<p>Атрибут <code>clearButtonVisible</code> позволяет пользователям отчистить все выбранные элементы.</p>
<p><code>multiSelectComboBox</code> поддерживает следующие функции стандартного <code>comboBox</code>:</p>
<ul>
    <li>
        Custom items
    </li>
    <li>
        Custom filtering
    </li>
    <li>
        Handling user input
    </li>
    <li>
        Custom renderer
    </li>
</ul>