<p><code>DropdownButton</code> — кнопка в выпадающим списком элементов.</p>
<p>Кнопка может содержать текст или иконку.</p>
<p>Компонент имеет несколько вариантов вложенных элементов:</p>
<ul>
    <li>
        <code>textItem</code> - содержит текст. <code>ClickListener</code> может быть добавлен в контроллере.
    </li>
    <li>
        <code>componentItem</code> - содержит пользовательский компонент. <code>ClickListener</code> также может быть добавлен в контроллере.
    </li>
    <li>
        <code>actionItem</code> - может быть связан с действием через атрибут <code>ref</code>.
    </li>
    <li>
        <code>separator</code> - разделитель для элементов.
    </li>
</ul>