<p>Для настройки множественной сортировки колонок в <b>DataGrid</b> используются три атрибута:</p>
<ul>
    <li>
        <code>multiSort</code> - включает или отключает множественную сортировку
    </li>
    <li>
        <code>multiSortOnShiftClickOnly</code> - позволяет добавлять выбранную колонку в сортировку только при нажатой клавише <b>Shift</b>
    </li>
    <li>
        <code>multiSortPriority</code> - определяет правило, по которому последующие колонки будут добавляться в сортировку. <code>PREPEND</code> - в начало, <code>APPEND</code> - в конец. По умолчанию - <code>PREPEND</code>.
    </li>
</ul>