<p>To configure multiple sorting of columns in <b>DataGrid</b> three attributes are used:</p>
<ul>
    <li>
        <code>multiSort</code> - enables or disables multiple sorting
    </li>
    <li>
        <code>multiSortOnShiftClickOnly</code> - allows user to add the selected column to the sort only when the <b>Shift</b> key is pressed
    </li>
    <li>
        <code>multiSortPriority</code> - defines the rule by which subsequent columns will be added to the sort. <code>PREPEND</code> - to the beginning, <code>APPEND</code> - to the end. <code>PREPEND</code> by default.
    </li>
</ul>