<p>
    The <code>fileStorageUploadField</code> component uploads files to a file storage system.
    It allows users to upload a file and automatically links it to an entity attribute as a <code>FileRef</code> object.
    This functionality enables users to handle file storage and access within the application, with the <code>FileRef</code> serving as a reference to the file's location in the storage system.
</p>
<p>
    This example allows uploading of any files of any type with a size limit of 10 KB. The component features a "drop zone" for drag-and-drop uploads, activated by dragging files over the component's button.
</p>
<p>
    <strong>Note:</strong> The uploaded files are stored in a temporary storage instead of a permanent file storage system. The example only demonstrates how to handle file uploads and should be adapted for production use.
</p>
