<p>
    Компонент <code>fileStorageUploadField</code> загружает файлы в систему хранения файлов.
    Он позволяет пользователям загружать файл и автоматически связывает его с атрибутом сущности в виде объекта <code>FileRef</code>.
    Эта функциональность позволяет пользователям управлять хранением файлов и доступом к ним в приложении, при этом <code>FileRef</code> служит ссылкой на расположение файла в системе хранения.
</p>
<p>
    В этом примере можно загружать файлы любого типа размером до 10 КБ. Компонент содержит "зону перетаскивания" для загрузки файлов с помощью перетаскивания на кнопку компонента.
</p>
<p>
    <strong>Примечание:</strong> Загруженные файлы хранятся во временном хранилище, а не в постоянной системе хранения файлов. Этот пример демонстрирует процесс загрузки файлов и должен быть адаптирован для использования в производственной среде.
</p>
