<p>
    The <code>fileStorageUploadField</code> component uploads files to the Jmix FileStorage.
    It allows users to upload a file and automatically links it to an entity attribute as a <code>FileRef</code> object. The <code>FileRef</code> serves as a reference to the file's location in the file storage.
</p>
<p>
    This example allows uploading of files of any type with a size limit of 50 KB. The component features a "drop zone" for drag-and-drop uploads, activated by dragging files over the component's button.
</p>
<p>
    <strong>Note:</strong> In this example, files are uploaded to the temporary storage and immediately removed. See the comments in <code>FileStorageUploadFieldSample.java</code>.
</p>
