<p>
    Компонент <code>fileStorageUploadField</code> загружает файлы в Jmix FileStorage.
    Он позволяет пользователям загружать файл и автоматически связывает его с атрибутом сущности в виде объекта <code>FileRef</code>.
    При этом <code>FileRef</code> служит ссылкой на расположение файла в FileStorage.
</p>
<p>
    Данный пример позволяет загружать файлы любого типа размером до 50 КБ. Компонент содержит "зону перетаскивания" для загрузки файлов с помощью перетаскивания на кнопку компонента.
</p>
<p>
    <strong>Примечание:</strong> В данном примере файлы загружаются во временное хранилище и сразу же удаляются. См. комментарии в файле <code>FileStorageUploadFieldSample.java</code>.
</p>
