<p><code>DataGrid</code> имеет несколько событий для прослушивания:</p>
<ul>
    <li>
        <code>EditorOpenEvent</code> - публикуется когда редактор DataGrid открывается.
    </li>
    <li>
        <code>EditorCancelEvent</code> - публикуется когда редактирование отменено.
    </li>
    <li>
        <code>EditorCloseEvent</code> - публикуется когда редактор DataGrid закрывается.
    </li>
    <li>
        <code>EditorSaveEvent</code> - публикуется когда редактор DataGrid сохраняет изменения.
    </li>
</ul>