
.options vaadin-checkbox label {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.options :is(vaadin-select, vaadin-select-value-button) {
    --vaadin-field-default-width: auto;
    --vaadin-input-field-height: auto;
    width: auto;
    mask-image: none;
    padding: 0;
}

.options vaadin-select::part(input-field) {
    background: unset;
}

.card-theme-variant .image-text-container {
    gap: var(--lumo-space-s);
}

.card-theme-variant .header {
    line-height: var(--lumo-line-height-xs);
}

.card-theme-variant .header .subtitle {
    text-transform: uppercase;
    font-size: var(--lumo-font-size-xs);
    color: var(--lumo-secondary-text-color);
}
